{% extends 'base.html' %}

{% block main %}
    <br>
    <div class="row">
        <div class="col-3 mx-auto d-block shadow p-3 mb-5 bg-white rounded">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-row">

                    <label for="id_username">Usuário</label>
                    <input id="id_username" name="username"
                               type="text" class="form-control">
                </div>
                <div class="form-row">
                    <label for="id_password">Senha</label>
                    <input id="id_password" name="password"
                               type="password" class="form-control">

                </div>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Seu usuário ou senha são inválidos.
                        Por favor, tente novamente.
                    </p>
                {% endif %}

                <br>

                <div class="form-row row-space">
                    <input type="submit" value="Entrar"
                           class="btn btn-primary pull-right btn-block" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
        </div>
    </div>
{% endblock main %}