{% extends 'base.html'%}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu">
            <a class="dropdown-item active" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
            <a class="dropdown-item" href="{% url 'core_lista_mov_rotativos' %}">Rotativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block main %}

<class class="row">
    <class class="col-sm-12">
        <h3>Lista Pessoas</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas%}
                <tr>
                <th scope="row">{{pessoa.id}}</th>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.endereco}}</td>
                <td>{{pessoa.telefone}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </class>
    <class class="col-sm-12">
        <h3>Cadastro</h3>
        <form action="{% url 'core_pessoa_novo' %}" method="POST">
            {# csrf_token = prevents attacks "csrf"  #}
            {% csrf_token %}
    
            {# as_p = like paragraph  #} 
            {{ form|bootstrap }}
    
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </class>    
</class>


{% endblock %}