{% extends 'base_sistema.html'%}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col">
        <h2>Novo cadastro</h2>
        
        <form method="POST">                
            {# csrf_token = prevents attacks "csrf"  #}
            {% csrf_token %}
        
            {# as_p = like paragraph  #} 
            {{ form|bootstrap }}
        
            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>   
                </div>
                <div class="col-sm-9">
                    <input type='button' class="btn btn-danger" value='Cancelar' onclick='history.go(-1)' />         
                </div>
            </div>
        </form>            
    </div>
</div>


{% endblock %}